<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loven.jy.mapper.ImgBoardMapper">

  <select id="getLists" resultType="Boast">
	  SELECT b.*,  sum(case when l.seq = b.seq then 1 else 0 end) as count
	  FROM boast_like l, boast b
	  GROUP BY b.seq
	  order by b.seq desc;
  </select>

  <insert id="imgBoardInsert" parameterType="Boast">
  	insert into boast(title,content,date,id)
  	values(#{title},#{content},NOW(),#{id})
  </insert>
  <update id="imgFileInsert" parameterType="Boast">
	  update boast set
  		file1 = #{file1},
  		file2 = #{file2},
  		file3 = #{file3},
  		file4 = #{file4},
  		file5 = #{file5}
    where seq = (select max(r.seq) from (select seq from boast) as r );
  </update>
  
	
  <select id="imgBoardView" resultType="Boast" parameterType="int">
  	select * from boast where seq=#{seq}
  </select>
  <update id="cntPlus" parameterType="int">
		update boast set
		cnt = cnt+1
		where
		seq = #{seq}
	</update>
	<update id="imgBoardUpdate" parameterType="Boast">
		update boast set title=#{title}, content=#{content} where seq=#{seq} 
	</update>
	<delete id="imgBoardDelete">
		delete from boast where seq=#{seq}
	</delete>
	<select id="searchTitle" resultType="Boast" parameterType="hashmap">
		select b.*,  sum(case when l.seq = b.seq then 1 else 0 end) as count
		from boast_like l, boast b
		where title like concat('%', #{search}, '%')
		group by b.seq
		order by b.seq desc
	</select>

	<select id="searchContent" resultType="Boast" parameterType="hashmap">
		select b.*,  sum(case when l.seq = b.seq then 1 else 0 end) as count
		from boast_like l, boast b
		where content like concat('%', #{search}, '%')
		group by b.seq
		order by b.seq desc
	</select>
	<select id="imglikeSelect" resultType="int" parameterType="int">
		select count(*) from boast_like where seq=#{seq}
	</select>
	<select id="imglikeWho" resultType="int" parameterType="hashmap">
		select count(*) from boast_like where seq=#{seq} and id=#{id}
	</select>
	<insert id="imglikeUp" parameterType="hashmap">
		insert into boast_like values(1,#{seq},#{id});
	</insert>
	<delete id="imglikeDel" parameterType="hashmap">
		delete from boast_like where  seq=#{seq} and id=#{id}
	</delete>
</mapper>