<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loven.jy.mapper.ProjCmtMapper">

  <insert id="ProjCmtInsert" parameterType="Proj_cmt">
  	insert into proj_cmt(content,reg_date,id,seq)
  	values(#{content},NOW(),#{id},#{seq})
  </insert>
  
  <select id="ProjCmtList" resultType="Proj_cmt">
        select * from proj_cmt where seq=#{seq}
    </select>


    <update id="ProjCmtUpdate" parameterType="Proj_cmt">
        UPDATE proj_cmt
        SET
        CONTENT = #{content}
        WHERE cmt_seq = #{cmt_seq}
    </update>

    <delete id="ProjCmtDelete" parameterType="Proj_cmt">
        DELETE FROM proj_cmt WHERE cmt_seq = #{cmt_seq}
    </delete>
    
</mapper>